body {
  font-family: "Raleway", sans-serif;
  background-color: #f8f9fa;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
#navbar {
  background-color: rgba(0, 0, 0, 0.2); /* Dark background with transparency */
  position: fixed;
  backdrop-filter: blur(45px);
  width: 100%;
  z-index: 1000;
}
.name-logo {
  height: 45px;
  width: 150px;
}
.about-me {
  text-align: center;
  padding-top: 70px;
  font-size: 25px;
}
#home {
  padding-top: 7rem;
}
.jumbotron {
  background-color: #007bff;
  color: #ffffff;
  padding: 2rem;
  margin-bottom: 0;
}

.navbar-brand {
  color: rgb(255, 255, 255);
}

.nav-link {
  color: #00539cff !important;
}

.portfolio-section,
.interests-section {
  padding: 60px 0;
}

.portfolio-item {
  margin-bottom: 30px;
}

.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 30px 0;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.social-logo {
  width: 48px;
  height: 48px;
}

#interest-name-m {
  color: #007bff;
}
#interest-name-r {
  color: #00ff15;
}
#interest-name-g {
  color: #ff2a00;
}
/* .card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 255, 255, 0.5);
} */

.container {
  text-align: center;
}

.social-icons {
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.social-logo {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-logo:hover {
  transform: scale(1.2);
}

.tooltip {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  white-space: nowrap;
  z-index: 10;
}
